<html ng-app="app">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <title>Magasinet</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body>

  <div class="section">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Magasinet</h1>
      <div class="row center">
        <h5 class="light">Supercentral vardagslyx</h5>
      </div>
      <br><br>
    </div>
  </div>


  <div class="section">
    <div class="container">

      <div ng-controller="vacantProductsCtrl">

        <div ng-show="data.length">
          <h5 class="light">AFB har lediga bostäder,
            <span ng-class="magasinet.length > 0 ? 'orange-text' : ''">
              {{ magasinet.length === 0 ? " men inte på magasinet." : "på magasinet!" }}
            </span>
          </h5>
        </div>

        <div ng-show="!data.length">
          <h5 class="light">AFB har inga lediga bostäder :(</h5>
        </div>

        <br>

        <a href="https://www.afbostader.se/lediga-bostader/bostadsomraden/magasinet">
          <h5 ng-show="magasinet.length" class="orange-text light">Magasinet:</h5>
        </a>

        <table ng-show="magasinet.length" class="highlight">
          <tbody>
            <tr ng-repeat="x in magasinet">
              <td>
                <span class="light" style="font-size: 1.2em">
                  <span class="blue-text">{{ x.shortDescription }}</span> på
                  <span class="blue-text">{{ x.sqrMtrs }}</span> kvm
                </span>
              </td>
              <td>
                {{ x.rent }} SEK <br>
                Rum <a ng-href="https://www.afbostader.se/lediga-bostader/bostadsdetalj/?obj={{x.productId}}">
                  {{ x.lghnummer }}
                </a>
              </td>
              <td>
                {{ x.numberOfReservations }} <br>
                <span style="font-size:0.75em">bokningar</span>
              </td>
              <td style="font-size:0.75em">
                <span class="blue-text"> Ansökningsdatum</span> <br>
                Första datum <br>
                Sista datum
              </td>
              <td style="font-size:0.8em">
                <br>{{ x.reserveFromDate }}
                <br>{{ x.reserveUntilDate }}
              </td>
            </tr>
          </tbody>
        </table>

        <h5 ng-show="other.length" class="orange-text light">Annat:</h5>
        <table ng-show="other.length" class="highlight">
          <tbody>
            <tr ng-repeat="x in other">
              <td>
                <a ng-href="https://www.afbostader.se/lediga-bostader/bostadsomraden/{{x.areaEncoded}}">
                  {{ x.area }}
                </a> <br>
                <span class="light">{{ x.shortDescription }} på {{ x.sqrMtrs }} kvm</span>
              </td>
              <td>
                {{ x.rent }} SEK <br>
                Rum <a ng-href="https://www.afbostader.se/lediga-bostader/bostadsdetalj/?obj={{x.productId}}">
                  {{ x.lghnummer }}
                </a>
              </td>
              <td>
                {{ x.numberOfReservations }} <br>
                <span style="font-size:0.75em">bokningar</span>
              </td>
              <td style="font-size:0.75em">
                <span class="blue-text"> Ansökningsdatum</span> <br>
                Första datum <br>
                Sista datum
              </td>
              <td style="font-size:0.8em">
                <br>{{ x.reserveFromDate }}
                <br>{{ x.reserveUntilDate }}
              </td>
            </tr>
          </tbody>
        </table>

        <p ng-show="novisch.length">Samt {{ novisch.length }} Novish bostäder.</p>

      </div>

      <br>

      <table class="highlight sortable" ng-controller="apartmentsCtrl">
        <thead>
          <tr>
            <th>Lgh</th>
            <th>Rum</th>
            <th>Boarea</th>
            <th>Hyra</th>
            <th>Läge</th>
            <th>Uthyrd</th>
            <th>Ritning</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="x in data">
            <td><a ng-href="https://www.afbostader.se/lediga-bostader/bostadsdetalj/?obj={{x.productId}}">
              {{ x.lghnummer }}
            </a></td>
            <td>{{ x.shortDescription }}</td>
            <td>{{ x.sqrMtrs }} kvm</td>
            <td>{{ x.rent }} SEK</td>
            <td>{{ x.location }}</td>
            <td>{{ x.status }}</td>
            <td><a ng-href="https://www.afbostader.se{{x.blueprint}}">PDF</a></td>
          </tr>
        </tbody>
      </table>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Modernt</h5>

            <p class="light">Den moderna byggnaden (Spolegatan 15) består av 77 lägenheter som lämpar sig för kompis- och parboende, en relativt ny och mycket omtyckt boendeform utvecklad av AF Bostäder, läs mer <a title="Mer om Magasinet 15" href="https://www.afbostader.se/lediga-bostader/bostadsomraden/magasinet/magasinet-15/">här</a>. I huset finns gemensamma balkonger. Området erbjuder bland annat en trivsam utemiljö med grillplats och ett stort varmgarage för cyklar med personligt ställ för varje hyresgäst. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">location_on</i></h2>
            <h5 class="center">Centralt</h5>

            <p class="light">På Magasinet har du centrala Lunds utbud bokstavligt talat för dina fötter. Här råder cityliv dygnet med såväl service, shopping, nöjen, turistattraktioner och inte minst stadens centralstation inom bekvämt gångavstånd för den som reser ofta. I gympadojor når du flera av universitetets institutioner och bibliotek samt Lundagård, studentlivets hjärta, inom tio minuter. I din absoluta närhet finns torgliv, större livsmedelsaffär, caféer, pizzerior och sushibutik. Magasinet är dessutom utmärkt beläget för att nå Lunds övriga stadsdelar på cykel.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Statistik</h5>

            <p class="center">
              <table>
                <thead>
                  <tr>
                    <th>Spolegatan 15</th>
                    <th>77 bostäder</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>4 kompisar</td>
                    <td>1 st</td>
                  </tr>
                  <tr>
                    <td>3 kompisar</td>
                    <td>16 st</td>
                  </tr>
                  <tr>
                    <td>2 kompisar</td>
                    <td>35 st</td>
                  </tr>
                  <tr>
                    <td>2 rums för par</td>
                    <td>25 st</td>
                  </tr>
                </tbody>
              </table>

              <a href="https://www.afbostader.se/globalassets/bostadsomraden/a-omradeskartor/magasinet.pdf"
                 class="btn-large waves-effect waves-light orange">Områdeskarta</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="script.js"></script>
  <script src="sortable.js"></script>
</body>
</html>
